@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

.Container {
    height: 100vh;
    width: 100%;
    background-image: url(../images//background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .main {
        padding: 10px 25px;
        height: 85%;
        width: 90%;
        background: linear-gradient(
            114.47deg,
            #ffffff -28.39%,
            rgba(255, 255, 255, 0) -28.39%,
            rgba(255, 255, 255, 0.35) -14.36%,
            rgba(255, 255, 255, 0.1) -0.18%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        border-radius: 24px;

        .content-left {
            padding-top: 300px;
            width: 50%;
            // border: 2px solid white;
            .info {
                h1 {
                    font-weight: 700;
                    font-size: 1.5625rem;
                    color: #ffffff;
                    font-family: "Inter", sans-serif;
                }
                p {
                    font-weight: 500;
                    font-size: 1.125rem;
                    color: white;
                    font-family: "Inter", sans-serif;
                }
            }
            .button {
                border: none;
                background-color: white;
                margin: 15px 0;
                padding: 10px;
                border-radius: 50px;
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                width: 150px;
                height: max-content;
            }
        }
    }
}
@media only screen and (max-width: 1500px) and (min-width: 801px) {
    .Container {
        .main {
            width: 85%;
            padding: 10px 25px;
            .content-left {
                padding-top: 265px;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .Container {
        .main {
            width: 85%;
            padding: 10px 25px;
            .content-left {
                padding-top: 225px;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Container {
        .main {
            height: 90%;
            width: 85%;
            padding: 10px 25px;
            .content-left {
                padding-top: 230px;
                width: 100%;
                .info {
                    h1 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
